# Build output
.build/
/target
/dependencies
*.f

# Verilator
obj_dir/
*.vcd

# nes
*.nes
*.hex

# Temporary files
*.log
*.bmp

# Python
__pycache__/
*.py[cod]
*$py.class

# Veryl Library
core/dependencies/
core/target/
Veryl.lock
