# Build output
.build/
/target
/dependencies
*.f

# Verilator
obj_dir/
*.vcd
*.fst
*.fst.hier

# nes
*.nes
*.hex

# Temporary files
*.log
*.bmp
*.png
*.wav

# Python
__pycache__/
*.py[cod]
*$py.class

# Veryl Library
core/dependencies/
core/target/
Veryl.lock
